{% extends "layout-simple.html" %}

{% block headstyles %}
<style>
.footer {
    //text-align: right;
    //visibility: hidden;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
</style>
{% endblock %}

{% block headscripts %}
<noscript>Sorry: To work properly, this page requires JavaScript.</noscript>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="hidden">
      <h1>{{ title }}</h1>
    </div>
    <span id="out">
    </span>
  </div>

  {% if not message %}
  <div class="hidden">
  {% else %}
  <div class="row">
  {% endif %}
    <div class="crawl" align="center">
      <h1>{{ message }}</h1>
    </div>
  </div>

  {% if not output %}
  <div class="hidden">
  {% endif %}
  <br />
  <div class="row">
    <table class="table table-bordered" width="100%">
      <thead>
        <tr>
          <th></th>
          {% for hword in word_list %}
            <th>{{ hword }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% for row in output %}
        <tr>
          {% for word in row %}
            {% if loop.first %}
              <th>{{ word }}</th>
            {% else %}
              <td>{{ word }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  <hr />
  </div>
  {% if not output %}
  </div>
  {% endif %}

  <br />

  <div class="row">
    <div class="col-lg-6 col-sm-6 col-12">
      <p>Choose your CSV file. Note that we expect a header at the top.</p>
      <form action="/" method="POST" class="form-inline" enctype="multipart/form-data">
        <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-primary btn-file">
                Browse&hellip; <input id="input-1" type="file" class="btn btn-primary btn-file" name="filename">
              </span>
            </span>
            <input type="text" class="form-control" placeholder="Select a file" readonly>
        </div>
        <br />
        <br />
        <button class="btn btn-lg btn-default" name="uploadData" id="uploadData" type="submit">Upload data</button>
      </form>
    </div>

  </div>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-6 col-sm-6 col-12">
    	<h3>Details about uploading data:</h3>
    	<ul>
    	  <li>The table name will be the filename, without the .csv extension.</li>
    	  <li>The table name and column names will be reformatted to conform to SQL requirements (e.g., spaces and punctuation except _ will be removed).</li>
    	  <li>The column names must be valid for a table (e.g., there can't be duplicate column names).</li>
    	  <li>The first column of data will automatically be designated the primary key for the table, with the assumption that it is something like an identifier.</li>
    	  <li>If another CSV file with the same name is uploaded, the application will attempt to INSERT any unique rows to the corresponding table. If not all rows are unique, it will report "partial success."</li>
    	  <li>All columns are VARCHAR columns by default. This can be changed (manually) with an ALTER TABLE command, if desired.</li>
    	  <li>To prevent SQL injection attacks, if the data in a cell looks like an injection attack (e.g., has quotes), the upload engine will automatically escape the data, adding extra quotes.</li>
    	</ul>
    </div>
  </div>

  <hr>
  <br />

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" align=center>
      <form action="/download">
        <button class="btn btn-lg btn-default" type="submit">Download data</button>
      </form>
    </div>
  </div>


</div>
{% endblock %}

{% block endscripts %}
<script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            //if( log ) alert(log);
        }
        
    });
});
</script>
{% endblock %}
