{% extends "layout-simple.html" %}

{% block headstyles %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h1>Sorry! The requested page could not be found.</h1>
    </div>
  </div>

	<br />
	<br />
	<hr />
	<br />

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" align="center">
      <form action="/">
        <button class="btn btn-lg btn-default" type="submit">Back Home</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
